## template:glesys
#cloud-config
# Licensed under the CC0 1.0

{{>users}}

packages:
    - apache2
    - php7.4-fpm
    - curl
    - php7.4-curl
    - php7.4-mysql
    - php7.4-gd
    - certbot
    - python3-certbot-apache
    - mysql-server
    - fail2ban
    - automysqlbackup
write_files:
    -
        content: |
            <VirtualHost *:80>
            ServerName {{params.hostname}}
            ServerAlias {{#params.hostnames}}{{name}} {{/params.hostnames}}

            DocumentRoot /var/www/html
                    <Directory /var/www/html>
                            Options -Indexes +FollowSymLinks +MultiViews
                            AllowOverride All
                            Require all granted

                            <files xmlrpc.php>
                                Require all denied
                            </files>

                            #PHP-FPM Socket
                            <FilesMatch \.php$>
                                SetHandler "proxy:unix:/var/run/wordpress.sock|fcgi://localhost/"
                            </FilesMatch>
                    </Directory>
            </VirtualHost>
        path: /etc/apache2/sites-available/wordpress.conf
    -
        content: |
            [wordpress]
            user = www-data
            group = www-data
            listen = /var/run/wordpress.sock
            listen.owner = www-data
            listen.group = www-data
            pm = dynamic
            pm.max_children = 250
            pm.start_servers = 15
            pm.min_spare_servers = 5
            pm.max_spare_servers = 30
            chdir = /
        path: /etc/php/7.4/fpm/pool.d/wordpress.conf
runcmd:
    - sed -i 's/post_max_size \= .M/post_max_size \= 50M/g' /etc/php/7.4/fpm/php.ini
    - sed -i 's/upload_max_filesize \= .M/upload_max_filesize \= 50M/g' /etc/php/7.4/fpm/php.ini
    - 'systemctl restart php7.4-fpm'
    - 'a2enmod rewrite headers expires proxy_fcgi proxy_http'
    - 'a2ensite wordpress.conf'
    - 'a2dissite 000-default-conf'
    - 'systemctl restart apache2'
    - 'certbot --apache -d {{params.hostname}} {{#params.hostnames}} -d {{name}}{{/params.hostnames}} --agree-tos -m {{params.email}} --no-eff-email --redirect'
    - 'echo "postfix postfix/mailname        string  $(hostname --fqdn)" | sudo debconf-set-selections'
    - 'echo "postfix postfix/main_mailer_type        select  Internet Site" | sudo debconf-set-selections'
    - 'echo "postfix postfix/destinations    string  localhost" | sudo debconf-set-selections'
    - 'echo "postfix postfix/mynetworks      string  127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128" | sudo debconf-set-selections'
    - 'echo "postfix postfix/mailbox_limit   string  0" | sudo debconf-set-selections'
    - 'echo "postfix postfix/recipient_delim string  +" | sudo debconf-set-selections'
    - 'echo "postfix postfix/protocols       select  all" | sudo debconf-set-selections'
    - 'apt-get install postfix -y'
    - 'curl -o /usr/local/bin/wp https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar'
    - 'chmod 755 /usr/local/bin/wp'
    - PASSWORD=`openssl rand -base64 32`
    - mysql -e "create database wordpress;"
    - mysql -e "CREATE USER wordpress@localhost IDENTIFIED BY '$PASSWORD';"
    - mysql -e "GRANT ALL PRIVILEGES ON wordpress.* TO 'wordpress'@'localhost';"
    - mysql -e "FLUSH PRIVILEGES;"
    - 'usermod --shell /bin/bash www-data'
    - rm /var/www/html/index.html
    - 'chown www-data:www-data /var/www/html/'
    - 'sudo -u www-data -i -- wp core download --path=/var/www/html/ --quiet'
    - sudo -u www-data -i -- wp config create --path=/var/www/html/ --dbprefix=glesys_ --dbname=wordpress --dbuser=wordpress --dbpass="$PASSWORD"
    - 'usermod --shell /usr/sbin/nologin www-data'
    - 'ufw default deny incoming'
    - 'ufw allow OpenSSH'
    - 'ufw allow http'
    - 'ufw allow https'
    - 'ufw --force enable'
